@model ForumSystem.Web.InputModels.Question.AskInputModel
@{
    ViewBag.Title = "Ask question";
}

<h1>
    <p class="text-success">@ViewBag.Title</p>
</h1>


@using (Html.BeginForm("Ask", "Questions", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="askForm">
        <div>
            <p class="text-success">
                @Html.LabelFor(model => model.Title)
            </p>
            @Html.EditorFor(model => model.Title)
        </div>
        <div>
            @Html.EditorFor(model => model.Content)
        </div>
        <p class="text-success">
            @Html.LabelFor(model => model.Tag)
        </p>
        @Html.EditorFor(model => model.Tag)

        <div class="form-group text-center">
            <input type="submit" value="Ask question" class="btn btn-success btn-lg" />
        </div>
    </div>
}
