@using ForumSystem.Web.Logic
@model  IEnumerable<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Index";
}

@foreach (var post in Model)
{
    <h3>
        @post.Title
    </h3>
    if (post.Author != null)
    {
        <p>
            <i>by @post.Author.Email</i>
        </p>
    }
    else
    {
        @Html.Display("Anonymous")
    }
    <hr />
    <p>
        @Html.Raw(ТextТransformer.CutText(post.Content))
        <i>@Html.ActionLink("read more...", "ViewReadMore", new { id = post.Id }, null)</i>
    </p>
    <div>
        <span class="label label-success">@post.Tag.Name</span>
    </div>
    <span class="label label-success">
        @Html.ActionLink("Add Comment", "Create", "Answer", new { id = post.Id }, null)
    </span>
    <span class="label label-warning">
        @Html.ActionLink("Delete", "Delete", "Questions", new { id = post.Id }, null)
    </span>
    <div>
        <span class="label label-default">@post.Answers.Count(a => a.IsDeleted == false) Answers</span>
    </div>
    <hr/>
    <hr/>
}
