@model  IEnumerable<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    @foreach (var post in Model)
    {
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>
                    @post.Title
                </h3>
            </div>
            <div class="panel-body">
                <p>@Html.Raw(post.Content)</p>
                @if (@post.Author != null)
                {
                    <p>by @post.Author.Email</p>
                }
                else
                {
                    @Html.Display("Anonymous")
                }
                <div>
                    @foreach (var tag in @post.Tags)
                    {
                        <span class="label label-success">@tag.Name</span>
                    }
                </div>
                <span class="label label-success">
                    @Html.ActionLink("Answer", "Create", "Answer", new { id = post.Id }, null)
                </span>
                <span class="label label-success">
                    @Html.ActionLink("View Answers", "ViewAll", "Answer", new {id = post.Id}, null)
                </span>
            </div>
            <div>
                <span class="label label-default">@post.Answers.Count Answers</span>
            </div>
        </div>
    }
</div>