@model ForumSystem.Web.ViewModels.Questions.QuestionDisplayViewModel

<div class="panel panel-success">
    <div>
        <h3>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            @Model.Title
        </h3>
        
        <i>by @Model.Author.FullName (Total points: @Model.Author.Points) PUBLISHED: @Model.CreatedOn</i>
        </div>
        <div class="panel-body">
            <p>@Html.Raw(Model.Content)</p>
            <span class="label label-success">
                @Html.ActionLink("Add comment", "Create", "Answer", new { id = Model.Id }, null)
            </span>
            <hr />
        </div>
           @Html.ActionLink("View comments", "ViewAnswersOfPost", "Answer", new { id = Model.Id }, null)  
</div>