@using ForumSystem.Web.Logic
@model Tuple<ForumSystem.Web.Models.DisplayViewModel, IList<ForumSystem.Web.ViewModels.Questions.QuestionDisplayViewModel>>
<table>
    <tr>
        <td>
            <h1>
                <img class="userPhoto" src="@Url.Action("UserPhotos", "Home")" />
            </h1>
        </td>
        <td>
            @if (Model != null)
            {
                <h2>@Model.Item1.FullName</h2>
                <p>(@Model.Item1.Email)</p>
            }
            else
            {
                <p>You can make your profile...</p>
            }
        </td>
    </tr>
    <tr>
        <td>
            <h3>Points: @Model.Item1.Points</h3>
            <hr />
            <hr />
            <ul>
                @foreach (var post in Model.Item2.ToList())
                {
                    <li>
                        <p><img src="@Url.Action("UserPhotos", "Home" )" height="48" width="48" />@post.Author.FullName posted.</p>
                        <p><i>@post.CreatedOn</i></p>
                        <span class="label label-success">@post.Tag.Name</span>
                        <h3>@post.Title</h3>
                        <p>
                            @Html.Raw(ТextТransformer.CutText(post.Content))
                            <i>@Html.ActionLink("read more...", "ViewReadMore", "Questions", new { id = post.Id }, null)</i>
                        </p>
                        <span class="label label-success">
                            @Html.ActionLink("Add Comment", "Create", "Answer", new {id = post.Id}, null)
                        </span>
                        <span class="label label-warning">
                            @Html.ActionLink("Delete", "Delete", "Questions", new { id = post.Id }, null)
                        </span>
                        <hr />
                        <p>
                            <b><i>Comments:</i></b>
                        </p>
                        <hr />
                        <ul>
                            @foreach (var answer in post.Answers)
                            {
                                <li>
                                    <p>@Html.Raw(answer.Content)</p>
                                    <p>
                                        <i>by @answer.Author.FullName PUBLISHED (@answer.CreatedOn)</i>
                                    </p>
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on left">
                                        @Html.ActionLink("Delete", "Delete", "Answer", new { id = answer.Id }, null)
                                    </button>

                                    <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
                                    @Html.ActionLink(" Rate up", "Rate", "Answer", new { id = answer.Id }, null)
                                    @answer.RatingUp


                                    @Html.ActionLink(" Rate down", "RateDown", "Answer", new { id = answer.Id }, null)
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                    @answer.RatingDown
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </td>
    </tr>
</table>

