
@using System.Xml.Schema
@using ForumSystem.Web.Logic
@model Tuple< IList<ForumSystem.Models.ApplicationUser>, IList<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>> 
@{
    ViewBag.Title = "Home Page";
}
<h1>
    Shanu Profile Image ..

    <img src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
</h1>

<h1><span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true">THE LAST POST</span></h1>
@{ var firstUsers = GetUserWithTheBestResult.RatingByPoints(Model.Item1.ToList()); }
@foreach (var user in firstUsers)
{
    <p>@user.FullName Total Points: @user.Points</p>
}

@{ var firstPosts = GetFirstPosts.GetFirstIndexPosts(Model.Item2.ToList()); }
@foreach (var post in firstPosts)
{
    <h3>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
            @post.Title
        </span>
    </h3>
    if (post.Author != null)
    {
        <p>
            <i>by @post.Author.FullName ( <i>Tottal points:</i> @post.Author.Points ) PUBLISHED @post.CreatedOn </i>
        </p>
    }
    <hr />
    @Html.Raw(ТextТransformer.CutText(post.Content))
    <i>@Html.ActionLink("read more...", "ViewReadMore", "Questions", new { id = post.Id }, null)</i>
    <hr/>
}