@model IEnumerable<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @foreach (var post in Model)
    {
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>
                    <a href="/123/asd">@post.Title</a>
                </h3>
            </div>
            <div class="panel-body">
                <p>@Html.Raw(post.Content)</p>
                @*<p>@post.Author.Email</p>*@
                <div>
                    @foreach (var tag in @post.Tags)
                    {
                        <span class="label label-success">@tag.Name</span>
                    }
                </div>
            </div>
            <div>
                <span class="label label-default">0 Answers</span>
            </div>
        </div>
    }
</div>
