@using ForumSystem.Web.Logic
@model Tuple<IList<ForumSystem.Models.ApplicationUser>, IList<ForumSystem.Web.ViewModels.Home.IndexPostViewModel>>

@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="panel-body">
        <div class="col-md-9">
            <h3><span class="glyphicon glyphicon-pencil" aria-hidden="true">Discover</span></h3>
            <hr />
            @{ var firstPosts = GetFirstPosts.GetFirstIndexPosts(Model.Item2.ToList()); }
            <ul class="list-group">
                @foreach (var post in firstPosts)
                {
                <li class="list-group-item">
                    <img src="@Url.Action("TakeUserPhotos", "Home", new {id = post.Author.Id})" height="26" width="26" />
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    <h3>
                        @post.Title
                    </h3>
                    @if (post.Author != null)
                    {
                    <p>
                        <i>by @post.Author.FullName ( <i>Tottal points:</i> @post.Author.Points ) PUBLISHED @post.CreatedOn </i>
                    </p>
                    }
                    <hr />
                    @Html.Raw(ТextТransformer.CutText(post.Content))
                    <i>@Html.ActionLink("read more...", "ViewReadMore", "Questions", new { id = post.Id }, null)</i>
                    <hr />
                </li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <div><img src="@Url.Action("ImageLoad", "Home", new {path = @"~/Images/know.jpg" })" height="120" width="160" /></div>
            <h2><span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true">RATING</span></h2>
            @{ var firstUsers = GetUserWithTheBestResult.RatingByPoints(Model.Item1.ToList()); }
            <ul class="list-group">
                @foreach (var user in firstUsers)
                {
                <li class="list-group-item">
                    <span class="badge">@user.Points</span>
                    <img src="@Url.Action("TakeUserPhotos", "Home", new {id = user.Id})" height="28" width="28" />
                    @user.FullName
                </li>
                }
            </ul>
        </div>
    </div>
</body>