
@using ForumSystem.Web.Logic
@model IList<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h1><span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true">THE LAST POST</span></h1>

@{ var firstPosts = GetFirstPosts.GetFirstIndexPosts(Model); }
@foreach (var post in firstPosts)
{
    <h3>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
            @post.Title
        </span>
    </h3>
    if (post.Author != null)
    {
        <p>
            <i>by @post.Author.FullName PUBLISHED @post.CreatedOn</i>
        </p>
    }
    <hr />
    @Html.Raw(ТextТransformer.CutText(post.Content))
    <i>@Html.ActionLink("read more...", "ViewReadMore", "Questions", new { id = post.Id }, null)</i>
    <hr/>
}