@using ForumSystem.Logic
@using ForumSystem.Models
@model IEnumerable<Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="panel panel-success">
            <h1 class="display-3">
                <span>Hello, User!</span>
            </h1>
            <p class="lead">Еach question has its own answer.</p>
        </div>
        </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-info">
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Ask question", "Ask", "Questions")</li>
                <li>@Html.ActionLink("Music", "Music", "Questions")</li>
                <li>@Html.ActionLink("Sport", "Sport", "Questions")</li>
                <li>@Html.ActionLink("Fun", "Fun", "Questions")</li>
                <li>@Html.ActionLink("Programming", "Programming", "Questions")</li>
                <li class="forum">@Html.ActionLink("Forum", "Index", "Questions")</li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-success">
            <p><b>THE BEST ANSWERS</b></p>
            @{ var bestAnswers = GetterOfBestAnswers.GetBestAnswers(Model); }
            @foreach (var answer in bestAnswers)
            { 
                <div class="panel panel-success">
                    <h3>
                        @answer.Post.Title
                    </h3>
                    @if (@answer.Author != null)
                    {
                        <p>
                            <i>by @answer.Author.FullName</i>
                        </p>
                    }
                    <hr/>
                    <div class="panel-body">
                        <p>
                            @Html.Raw(ForumSystem.Logic.ТextТransformer.CutText(answer.Content))
                            <i>@Html.ActionLink("read more...", "ViewReadMore", "Questions", new {id = answer.PostId}, null)</i>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
