<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IWannaKnow</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<header>
    <span class="titleHeader"><h1>IWannaKnow</h1></span> 
</header>
<nav class="navbar navbar-static-top">
    <div class="container">            
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Ask question", "Ask", "Questions")</li>
                <li>@Html.ActionLink("Music", "Music", "Questions")</li>
                <li>@Html.ActionLink("Sport", "Sport", "Questions")</li>
                <li>@Html.ActionLink("Fun", "Fun", "Questions")</li>
                <li>@Html.ActionLink("Programming", "Programming", "Questions")</li>
                <li class="forum">@Html.ActionLink("Forum", "Index", "Questions")</li>
                <li class ="profile">@Html.ActionLink("Profile", "DisplayProfilePage", "Home")</li>
                <li><img src="@Url.Action("UserPhotos", "Home" )" height="48" width="48" /></li> 
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
<div class="row">
    <aside class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li >@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Ask question", "Ask", "Questions")</li>
            <li>@Html.ActionLink("Music", "Music", "Questions")</li>
            <li>@Html.ActionLink("Sport", "Sport", "Questions")</li>
            <li>@Html.ActionLink("Fun", "Fun", "Questions")</li>
            <li>@Html.ActionLink("Programming", "Programming", "Questions")</li>
            <li class="forum">@Html.ActionLink("Forum", "Index", "Questions")</li>
        </ul>
    </aside>
    <section class="col-md-9">
        <article class="panel panel-success">
            @RenderBody()
        </article>
    </section>
    <hr/>
</div>
<footer>
    <p>&copy; @DateTime.Now.Year - by AirIskra . All Rights Reserved.</p>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
